/* tabela.css */

:root {
    --cor0: #8d8d8d;
    --cor1: #01050A;
    --cor2: #0D1117;
    --cor3: #161B22;
    --cor4: #21262D;
    --cor5: #30363D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding-top: 30px;
    min-height: 80px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    color: white;
}

table {
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    max-width: 900px;
    min-width: 700px;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    left: 50%;
    top: 55%;
}

caption {
    background-color: white;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    font-size: 1.3em;
    padding: 10px;
    border: 1px solid black;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

th {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}

#branco {
    background-color: white;
}

footer {
    background-color: black;
    text-align: center;
    font-size: 12pt;
    position: relative;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: -557px;
    color: white
}

footer a {
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    transition-duration: 0.5s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4)
}